pipeline/PL_Decision2_Failed_Email2_linkCondition.json

 {
 "name" : "PL_Decision2_Failed_Email2_linkCondition",
 "type" : "Microsoft.DataFactory/factories/pipelines",
 "apiVersion" : "2018-06-01",
 "properties" : {
 "activities" : [ {
 "name" : "Failed_Email2",
 "type" : "WebActivity",
 "policy" : {
 "timeout" : "7.00:00:00",
 "retry" : 0,
 "retryIntervalInSeconds" : 30,
 "secureOutput" : false,
 "secureInput" : false
 },
 "typeProperties" : {
 "compute" : {
 "computeType" : "General",
 "coreCount" : 8
 },
 "headers" :{"Content-Type":"application-json"},
 "method" : "POST",
 "body" : "{\"Subject\": \"Run status\",\r\n\"ErrorMessage\": \"Session 's_load_cust_crdt_sumry' failed\",\"EmailTo\": \"Anushree.KS@cognizant.com\"}"
 },
 "dependsOn" : [ {
 "activity" : "Decision2",
 "dependencyConditions" : [ "Succeeded" ]
 } ]
 }, {
 "name" : "Control",
 "type" : "Custom",
 "policy" : {
 "timeout" : "7.00:00:00",
 "retry" : 0,
 "retryIntervalInSeconds" : 30,
 "secureOutput" : false,
 "secureInput" : false
 },
 "typeProperties" : {
 "compute" : {
 "computeType" : "General",
 "coreCount" : 8
 }
 },
 "dependsOn" : [ {
 "activity" : "Failed_Email2",
 "dependencyConditions" : [ "Succeeded" ]
 } ]
 } ]
 },
 "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/PL_Decision2_Failed_Email2_linkCondition')]" ]
 }