pipeline/PL_Decision2.json
{
   "name" : "PL_Decision2",
   "type" : "Microsoft.DataFactory/factories/pipelines",
   "apiVersion" : "2018-06-01",
   "properties" : {
      "activities" : [ {
         "name" : "EventWait",
         "type" : "Wait",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "description" : "Enter the wait time accordingly.",
         "typeProperties" : {
            "compute" : {
               "computeType" : "General",
               "coreCount" : 8
            }
         },
         "dependsOn" : [ {
            "activity" : "Decision2",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      }, {
         "name" : "s_cust_sumry",
         "type" : "ExecuteDataFlow",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "compute" : {
               "computeType" : "General",
               "coreCount" : 8
            },
            "dataflow" : {
               "type" : "DataFlowReference",
               "referenceName" : "DF_load_cust_crdt_sumry"
            }
         },
         "dependsOn" : [ {
            "activity" : "EventWait",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      }, {
         "name" : "Decision1",
         "type" : "IfCondition",
         "policy" : {
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "expression" : {
               "value" : "@not(equals(activity('s_cust_sumry').output.runstatus.profile, null))",
               "type" : "Expression"
            },
            "ifTrueActivities" : [ {
               "name" : "Execute Pipeline1",
               "type" : "ExecutePipeline",
               "typeProperties" : {
                  "pipeline" : {
                     "referenceName" : "PL_Decision1_Email1_linkCondition",
                     "type" : "PipelineReference"
                  }
               }
            } ],
            "ifFalseActivities" : [ {
               "name" : "Execute Pipeline2",
               "type" : "ExecutePipeline",
               "typeProperties" : {
                  "pipeline" : {
                     "referenceName" : "PL_Decision1_Failed_Email1_linkCondition",
                     "type" : "PipelineReference"
                  }
               }
            } ]
         },
         "dependsOn" : [ {
            "activity" : "s_cust_sumry",
            "dependencyConditions" : [ "Completed" ]
         } ]
      } ]
   },
   "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/PL_Decision2')]" ]
}