pipeline/PL_Decision_Failed_Email_linkCondition.json

 {
 "name" : "PL_Decision_Failed_Email_linkCondition",
 "type" : "Microsoft.DataFactory/factories/pipelines",
 "apiVersion" : "2018-06-01",
 "properties" : {
 "activities" : [ {
 "name" : "Failed_Email",
 "type" : "WebActivity",
 "policy" : {
 "timeout" : "7.00:00:00",
 "retry" : 0,
 "retryIntervalInSeconds" : 30,
 "secureOutput" : false,
 "secureInput" : false
 },
 "typeProperties" : {
 "compute" : {
 "computeType" : "General",
 "coreCount" : 8
 },
 "headers" :{"Content-Type":"application-json"},
 "method" : "POST",
 "body" : "{\"Subject\": \"Run status\",\r\n\"ErrorMessage\": \"Mapping 'm_load_dep_party'failed\",\"EmailTo\": \"test@domain.com\"}"
 },
 "dependsOn" : [ {
 "activity" : "Decision",
 "dependencyConditions" : [ "Succeeded" ]
 } ]
 } ]
 },
 "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/PL_Decision_Failed_Email_linkCondition')]" ]
 }