pipeline/PL_Decision3_Failed_Email3_linkCondition.json

 {
 "name" : "PL_Decision3_Failed_Email3_linkCondition",
 "type" : "Microsoft.DataFactory/factories/pipelines",
 "apiVersion" : "2018-06-01",
 "properties" : {
 "activities" : [ {
 "name" : "Failed_Email3",
 "type" : "WebActivity",
 "policy" : {
 "timeout" : "7.00:00:00",
 "retry" : 0,
 "retryIntervalInSeconds" : 30,
 "secureOutput" : false,
 "secureInput" : false
 },
 "typeProperties" : {
 "compute" : {
 "computeType" : "General",
 "coreCount" : 8
 },
 "headers" :{"Content-Type":"application-json"},
 "method" : "POST",
 "body" : "{\"Subject\": \"Execution Status\",\r\n\"ErrorMessage\": \"Dataload s_load_dep_partyt was failed to execute\",\"EmailTo\": \"anusreeks92@gmail.com\"}"
 },
 "dependsOn" : [ {
 "activity" : "Decision3",
 "dependencyConditions" : [ "Succeeded" ]
 } ]
 } ]
 },
 "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/PL_Decision3_Failed_Email3_linkCondition')]" ]
 }