pipeline/wf_load_data.json
{
   "name" : "PL_wf_load_data",
   "type" : "Microsoft.DataFactory/factories/pipelines",
   "apiVersion" : "2018-06-01",
   "properties" : {
      "activities" : [ {
         "name" : "s_load_product",
         "type" : "ExecuteDataFlow",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "compute" : {
               "computeType" : "General",
               "coreCount" : 8
            },
            "dataflow" : {
               "type" : "DataFlowReference",
               "referenceName" : "DF_load_product"
            }
         }
      }, {
         "name" : "s_load_dep_party",
         "type" : "ExecuteDataFlow",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "compute" : {
               "computeType" : "General",
               "coreCount" : 8
            },
            "dataflow" : {
               "type" : "DataFlowReference",
               "referenceName" : "DF_load_dep_party"
            }
         }
      }, {
         "name" : "Decision",
         "type" : "IfCondition",
         "policy" : {
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "expression" : {
               "value" : "@and(not(equals(activity('s_load_product').output.runstatus.profile,null)),not(equals(activity('s_load_dep_party').output.runstatus.profile,null)))",
               "type" : "Expression"
            },
            "ifTrueActivities" : [ {
               "name" : "Execute Pipeline3",
               "type" : "ExecutePipeline",
               "typeProperties" : {
                  "pipeline" : {
                     "referenceName" : "PL_Decision_Success_Email_linkCondition",
                     "type" : "PipelineReference"
                  }
               }
            } ],
            "ifFalseActivities" : [ {
               "name" : "Execute Pipeline4",
               "type" : "ExecutePipeline",
               "typeProperties" : {
                  "pipeline" : {
                     "referenceName" : "PL_Decision_Failed_Email_linkCondition",
                     "type" : "PipelineReference"
                  }
               }
            } ]
         },
         "dependsOn" : [ {
            "activity" : "s_load_product",
            "dependencyConditions" : [ "Completed" ]
         }, {
            "activity" : "s_load_dep_party",
            "dependencyConditions" : [ "Completed" ]
         } ]
      }, {
         "name" : "EventRaise",
         "type" : "Wait",
         "policy" : {
            "timeout" : "7.00:00:00",
            "retry" : 0,
            "retryIntervalInSeconds" : 30,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "compute" : {
               "computeType" : "General",
               "coreCount" : 8
            }
         },
         "dependsOn" : [ {
            "activity" : "s_load_dep_party",
            "dependencyConditions" : [ "Succeeded" ]
         } ]
      }, {
         "name" : "Decision2",
         "type" : "IfCondition",
         "policy" : {
            "retry" : 0,
            "retryIntervalInSeconds" : 0,
            "secureOutput" : false,
            "secureInput" : false
         },
         "typeProperties" : {
            "expression" : {
               "value" : "@not(equals(activity('s_load_product').output.runstatus.profile, null))",
               "type" : "Expression"
            },
            "ifTrueActivities" : [ {
               "name" : "Execute Pipeline5",
               "type" : "ExecutePipeline",
               "typeProperties" : {
                  "pipeline" : {
                     "referenceName" : "PL_Decision2",
                     "type" : "PipelineReference"
                  }
               }
            } ]
         },
         "dependsOn" : [ {
            "activity" : "s_load_product",
            "dependencyConditions" : [ "Completed" ]
         } ]
      } ]
   },
   "dependsOn" : [ "[concat(variables('factoryId'), '/dataflows/wf_load_data')]" ]
}